.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    margin: 120px 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img-top {
    width: 100%;
    height: 10vw;
}


.card-body {
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.card-body img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}